<nav class="navbar  navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand " >/\</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/card">CARDS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">LIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/table">TABLE</a>
                </li>
            </ul>
            <div class="mx-4"> 
                <form class="d-flex">
                    <input id="myInput" onkeyup="myFunction()" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    {{!-- <button class="btn btn-outline-dark" type="submit">Search</button> --}}
                </form>
            </div>
                <div class="d-grid d-flex justify-content-lg-end">
                    <button type="button" class="btn btn-dark me-4"><a class="text-decoration-none text-success" href="/adduser">add user</a></button>
                    <a href="/adlogout">Logout</a>
                </div>  
        </div>
    </div>
</nav>
